.container{
    margin-bottom:100px;
}
p{
color: #333;
}
.bg-image{
    background-image: url("images/bg2.png");
    background-repeat: no-repeat;
    background-position: -3% 120%;
}
.product-image{
    background-image: url("images/best-product.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.carousel-indicators li{
    background-color:#999;
    width:20px;
    height:0.1px;
    margin: 0 5px;
    border-radius: 6px;
    background-clip:unset;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
}
.carousel-indicators li.active{
    width:50px;
    background-color:orange;
}
.buy-now{
background-color: #000;
color:#fff;
border:none;
padding:8px 25px;
border-radius: 8px;
}

.see-all{
    color:orange;
    float: right;
}
.card{
    box-shadow: 5px 5px 10px lightgray;
    text-align:center;
}
#categories h3:after{
    content: '';
    background-image: radial-gradient(orange,tomato);
    display:block;
    border-radius: 10px;
    width: 125px;
    height: 8px;
    margin: 10px auto;
}
footer p{
    text-align: center;
    color:#ddd;
    padding-bottom:20px;
}
